<!DOCTYPE html>
<html lang="es">
    {% include 'index.html' %}
    {% include 'dashboard.html' %}
    <body lang="es">
        <div class="container">
            <div class="justify-content-center">
                <div class="mt-5">
                    <h2>Bienvenido al sistema de registro y control de ingreso del personal Militar</h2>
                </div>
                <div class="mt-3">
                    <p>Aqui podra:</p>
                    <ul>
                        <li>Registrar el ingreso del personal al las instalaciones
                        </li>
                        <li>Realizar la gestión de usuarios registrados, cambio de rol y contraseñas</li>
                        <li>Validar la identidad del personal que desea ingresar a las intalaciones mediante el código único</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>