<!DOCTYPE html>
<html>
    {% include 'index.html' %}
    {% include 'dashboard.html' %}
    <body class="bg-light">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container mt-5">
            <h3 class="mb-4">Registro de Personal Militar</h3>

            <div class="justify-content-center">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="nombreI" class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="nombreI" required>
                        </div>
                        <div class="col-md-6">
                            <label for="apellidos" class="form-label">Apellido</label>
                            <input type="text" class="form-control" name="apellidos" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="identificacion" class="form-label">No identificación Militar</label>
                            <input type="text" class="form-control" name="identificacion" required>
                        </div>
                        <div class="col-md-6">
                            <label for="grado-rango" class="form-label">Grado/Rango</label>
                            <select name="grado-rango" id="grado-rango" class="form-control" required>
                                <option value="" disabled selected>Seleccione un rango</option>
                                    {% for rango in rangos %}
                                        <option value="{{ rango.id }}">{{ rango.nombre }}</option>
                                    {% endfor %}    
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="unidad" class="form-label">Unidad de Asignación</label>
                            <select name="unidad" id="unidad" class="form-select" required>
                                <option value="" disabled selected>Seleccione una unidad</option>
                                {% for unidad in unidades %}
                                    <option value="{{ unidad.id }}">{{ unidad.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>   
                        <div class="col-md-6">
                            <label for="areaVisita" class="form-label">Area de Visita</label>
                            <input type="text" class="form-control" name="areaVisita" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="propositoVisita" class="form-label">Proposito del Ingreso</label>
                            <input type="text" class="form-control" name="propositoVisita" required>              
                        </div>
                        <div class="col-md-6">
                            <label for="fechaHora" class="form-label">Fecha/Hora Ingreso</label>
                            <input type="datetime-local" class="form-control" name="fechaHora" required>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="mb-3 d-flex flex-column">
                            <label for="firma_digital" class="form-label">Firma Digital (Opcional)</label>
                            <div class="file-input-container">
                                <button type="button" class="file-input-btn">Seleccionar firma digital</button>
                                <input type="file" class="file-input" id="firma_digital" name="firma_digital" accept="image/*">
                            </div>
                            <span id="file-name-firma">Ningún archivo seleccionado</span>
                        </div>
                        <div class="mb-3 d-flex flex-column">
                            <label for="imagen" class="form-label">Fotografía</label>
                            <div class="file-input-container">
                                <button type="button" class="file-input-btn">Seleccionar imagen</button>
                                <input type="file" name="imagen" id="imagen" class="file-input" accept="image/*">
                            </div>
                            <span id="file-name-imagen">Ningún archivo seleccionado</span>
                        </div>
                    </div>
                    <div class="d-grid col-md-6 justify-content-end mt-3">
                        <button type="submit" class="btn btn-success">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
          <script src="{{ url_for('static', filename='js/file.js') }}"></script>
    </body>
</html>